@import "../Global.scss";

.body {
   height: 100vh;
   width: 100vw;
}

.content {
   width: 100%;
   // background-color: red;
   // overflow: auto;
   // overflow-x: hidden;
   height: calc(100% - 80px);
}
.Logincontent {
   width: 100vw;
   overflow: hidden;
   height: 100%
   // background-color: red;
   // height: calc(100%);
}