@import "../Global.scss";
.container {
   width: 100%;
   height: 100%;
   // overflow: hidden;
   position: relative;
   background-size: cover;
   background-image: url("../../resource/image/ISPlogin.png");
   // display: flex;
   // justify-content: flex-end
   // background-color: navy
}

.content {
   background: $Primary;
   width: 100%;
   min-height: calc(100vh - 280px);
   position: absolute;
   top:200px;
   
}
.con {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding:2rem 
}

.left {
   position: relative;
   margin-top: -2rem;
   .profile{
      width: 300px;
      padding:0 1rem;
      border-radius: 1rem;
      background:#fff;
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items:center;
      margin: 0 0 2rem;
   }
   .open{
      // height: 800px;
      overflow: none;
   }
  
}
.smallModal{
   color:$PrimaryDark;
   // margin: 2rem 0 0 0;
   width: 300px;
   padding:1rem .5rem;
   border-radius: 1rem;
   background:#fff;
   // height: 300px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items:center;
   .row{
      width:90%;
      min-height: 40px;
      margin: .5rem 0;
      cursor: pointer;
      // display: flex;
      padding:5px 10px;
      border-radius:.5rem;
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      svg{
         margin-right: .5rem;
      }
      &:hover{
         background:$Border;
         color:white;
         transition: all .2s ease-in-out;
      }  
   }
   .morebtn{
      cursor: pointer;
      margin-top:2rem;
      width:40%;
      padding:5px 0;
      border-radius:.5rem;
      &:hover{
         background:$Border;
         color:white;
         transition: all .2s ease-in-out;
      }  
      text-align:center;
   }
}

.modal {
   width: 600px;
   background:#fff;
   height: 1500px;
   border-radius: 1rem;
}
.right{
   width: 300px;
   position: relative;
   .recommendation{
      background:#fff;
      border-radius: 1rem;
   }
   .row2{
      display: flex;
      // justify-content: center;
      align-items: center;
      svg{
         border-radius:50%;
         background:$Primary;
         width: 40px;
         height:40px;
         margin-right: 2rem;
         // padding:1rem
      }
   }
}

.avatar{
   position: absolute;
   top:-80px;
   background:#fff;
   border-radius: 50%;
   img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 10px solid #fff;
      cursor: pointer;
     
      &:hover{
         opacity: .8;
         transition: opacity .3s ease-in-out
      }
   }
   .follow{
     position: absolute;
     left: 20%;
     bottom:-40px

   }
   .Message{
      background:red
   }

}
.info{
   // background: red;
   width:100%;
   height: 100px;
   margin-top: 180px;
   h3{
      text-align: center;
      color:$PrimaryDark;

   }
   .row{
      // text-align: center;
      // background: red;
      margin:.5rem 0;
      display: flex;
      align-items: center;
      font-size: 14px ;
      .title{
         width: 80px;
      }
      .value{
         margin-left: 1rem;
         font-weight: bold;
      }
   }
}